.heading {
  text-align: center;
}

.description {
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 30px;
  max-width: 480px;
  margin: 30px auto;
}

.buttonArea {
  display: flex;
  justify-content: center;
}

.backToTopButton {
  padding: 20px 30px;
  background-color: #ddd;
  text-align: center;
}

.backToTopLink {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

@media screen and (max-width: 750px) {
  .description {
    border-radius: 8px;
    padding: 20px;
    margin: 0px 20px 20px;
  }
}
