.searchContainer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  width: fit-content;
}

.searchButton {
  padding: 15px 20px;
  font-size: 16px;
  background-color: #2886fa;
  color: #fff;
}

.input {
  width: 350px;
  height: 45px;
}

@media screen and (max-width: 750px) {
  .searchContainer {
    flex-direction: column;
  }
}
