.searchContainer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  width: fit-content;
}

.searchButton {
  padding: 25px 20px;
  font-size: 16px;
  background-color: #2886fa;
}

.input {
  width: 350px;
  height: 45px;
}
