.container {
  display: flex;
}

.imageWrapper {
  position: relative;
  width: 215px;
  height: 300px;
  background-color: #ddd;
}

.image {
  object-fit: contain;
}

.modalTextArea {
  height: 100%;
  margin-left: 20px;
}

.author {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #333;
}

.description {
  margin-bottom: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

.buttonArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.closeButton {
  background-color: #ddd;
  color: #333;
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
  .modalTextArea {
    margin-left: 0;
    margin-top: 20px;
  }
}
