.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  border: 2px solid #ddd;
  background-color: #fff;
  box-shadow: 24;
  padding: 30px;
  display: flex;
}

.imageWrapper {
  position: relative;
  width: 200px;
  height: 300px;
}

.image {
  object-fit: contain;
}

.modalTextArea {
  height: 100%;
  margin-left: 20px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.author {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #333;
}

.description {
  color: #333;
}
