.heading {
  margin-left: 200px;
}
.descriptionArea {
  padding: 50px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin: 80px 0;
}

.descriptionTitle {
  padding: 30px;
  font-size: 28px;
  font-weight: 600;
}

.textBold {
  font-weight: 600;
}

.descriptionImage {
  margin: 20px auto;
  border: 1px solid #eee;
}
