.heading {
  margin-left: 200px;
}

.list {
  max-width: 400px;
  border-radius: 30px;
  border: 1px solid #ddd;
  margin: 0 auto;
  padding: 0;
}

.listItem {
  padding: 15px 0 15px 40px;
  border-bottom: 1px solid #ddd;
}

.listItem:last-child {
  border-bottom: none;
}

.link {
  text-decoration: none;
  color: #333;
}

@media screen and (max-width: 750px) {
  .heading {
    margin-left: 0;
  }
  .list {
    border-radius: 8px;
    margin: 0 20px;
  }
}
