.heading {
  margin-left: 200px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.noDataText {
  text-align: center;
}

@media screen and (max-width: 750px) {
  .heading {
    margin-left: 0;
  }
}
