.container {
  display: flex;
}

.imageWrapper {
  position: relative;
  width: 172px;
  height: 240px;
  background-color: #ddd;
}

.image {
  object-fit: contain;
}

.modalTextArea {
  height: 100%;
  margin-left: 20px;
}

.author {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #333;
}

.description {
  margin-bottom: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ddd;
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  color: #333;
}

.clossIcon {
  position: absolute;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }
  .modalTextArea {
    margin-left: 0;
    margin-top: 20px;
  }
  .author {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
