.card {
  padding: 0;
}

.cardContainer {
  width: 150px;
  height: 210px;
}

.large {
  width: 150px;
  height: 210px;
}

.small {
  width: 120px;
  height: 170px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ddd;
}

.image {
  object-fit: contain;
}
